**/*
!ButtsBlazor/**/*
ButtsBlazor/Properties/PublishProfiles/*
!ButtsBlazor.Api/**/*
!ButtsBlazor.Client/**/*
!ButtsBlazor.Shared/**/*
ButtsBlazor/wwwroot/css/*
# ButtsBlazor/wwwroot/*
!ButtsBlazor/wwwroot/js/**/*
!ButtsBlazor/wwwroot/photobooth/**/*
!ButtsBlazor/wwwroot/worker/**/*
!ButtsBlazor/wwwroot/styles/**/*
ButtsBlazor/wwwroot/img/**/*
**/site-packages/**/*
**/butts_images/**/*
**/prompted/**/*
**/obj/**/*
**/bin/**/*
**/*.webp
**/*.db*
**/node_modules/*