]@using ButtsBlazor.Server.Services
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Infinite Butts - AI Butt Generator</title>
    <link rel="stylesheet" href="/css/bootstrap.css?ver=8"></link>
    <link rel="stylesheet" href="/css/vendors.css?ver=8"></link>
    <link rel="stylesheet" href="app.css?ver=10" />
    <link rel="icon" type="image/png" href="/favicon.png">

    <meta property="og:title" content="Infinite Butts" />
    <meta property="og:description" content="An infinite stream of AI generated butts." />
    <meta property="og:image" content="@(((ButtImage?)ViewData[nameof(ButtImage)])?.Path)" />
</head>
<body>
    <div class="page" id="app">
        @RenderBody()
    </div>


	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>