<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/" />
    <link rel="stylesheet" href="variables.css?ver=8" />
    <link rel="stylesheet" href="/css/bootstrap.css??ver=8" />
    <link rel="stylesheet" href="/css/vendors.css?ver=8" />
    <link rel="stylesheet" href="app.css?ver=8" />
    <link rel="stylesheet" href="ButtsBlazor.Server.styles.css" />
    <title>Infinite Butts</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <HeadOutlet @rendermode="@ButtsBlazor.Server.Components.NoPreRenderWebAssembly.Instance" />
    </head>
<body>
<div id="app">
    <div class="loading-container">
        <img src="/infinitypeach.svg" width="100" height="100" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-notch" class="spin loading-icon" role="img" />
    </div>
    <Routes @rendermode="@ButtsBlazor.Server.Components.NoPreRenderWebAssembly.Instance" />
</div>
    <script src="_framework/blazor.webassembly.js"></script>

<script src="/js/runtime.js?ver=8"></script>

<script src="/js/jquery.js?ver=8"></script>

<script src="/js/vendors.js?ver=8"></script>

<script src="/js/bootstrap.js?ver=8"></script>
    <script src="/js/listener.js?ver=8"></script>
    
</body>

</html>
