@page "/camera"
@{
    Layout = "Shared/_Layout";
}
@model ButtsBlazor.Server.Pages.CameraModel
@{
    ViewData["Title"] = "Infinite Uploads";
}
<style>
    img {
        max-height: 100%;
        max-width: 100%;
    }
</style>
<link rel="stylesheet" href="/lib/cropper.min.css" />
<div class="fullscreen">
    <form id="photo-form" method="post" class="fullscreen-content loaded" action="/camera" asp-antiforgery="true">
        <div class="loading-container">
            <img src="/infinitypeach.svg" width="100" height="100" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-notch" class="spin loading-icon" role="img" />
        </div>
        @*         @if (Model.uploadResult !=null)
        {
            <a href="/prompt?image=@(Model.uploadResult.Path)"></a>
        }
 *@        
        <div class="photo-container">
            <img id="photo"/>
        </div>
        <div class="image-controls">
            <label class="cameraButton btn btn-primary">
                <span id="label">Take a picture</span>
                <input id="cameraInput" name="file" type="file" accept="image/*"/>
            </label>
@*             <button type="button" id="rotate" class="image-control btn btn-primary">Rotate</button>
 *@            <button type="submit" id="save" class="image-control btn btn-primary">Save</button>
        </div>
    </form>
</div>
@section Scripts {
    <script src="/lib/jquery.min.js?ver=8"></script>
    <script src="/lib/cropper.min.js?ver=8"></script>
    <script src="/lib/ipad-hack.js?ver=11" ></script>
}