@page "/{number:int?}"
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Infinite Butts";
}
<div id="lightboxSet" style="display: none">
    <a data-lightbox="butts-set" id="imageBox" data-title="Butts!">
        <img id="imageBoxThumb" />
    </a>
</div>

   
@section Scripts {
    <script src="/js/infiniteButts.js?ver=236daae22266d8a6f59d"></script>

}