@using ButtsBlazor.Shared.ViewModels
@using Microsoft.AspNetCore.Components
@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
<div class="page">
    <main>
        <article class="content px-4">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <div class="border p-4 text-danger">
                        Sorry about that, something seems to have gone awry. Refreshing...
                    </div>
                    <script type="text/javascript">
                        setTimeout(() => {
                            window.location.reload();
                        }, 1500);
                    </script>
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
}
