@inject IJSRuntime JSRuntime;
@implements IAsyncDisposable

<h3>File Upload</h3>

<div @ref="fileDropContainer" class="file-drop-zone @HoverClass" @ondragenter="OnDragEnter" @ondragleave="OnDragLeave" @ondragover="OnDragEnter">
    <InputFile OnChange="@OnChange" @ref="inputFile" />
</div>
<div class="error-message-container">
    <p>@ErrorMessage</p>
</div>
<div class="image-container">
    @foreach(var imageSource in imageSources)
    {
        <img src="@imageSource" />
    }
</div>
