@page "/generate"
@using ButtsBlazor.Client.Utils
@using ButtsBlazor.Client.Services
@using ButtsBlazor.Shared.Services
@using ButtsBlazor.Shared.ViewModels
@rendermode InteractiveWebAssembly
@inject IButtsApiClient Client
@inject NavigationManager Navigation
@inject PromptOptions Options
@inject IJSRuntime JsRuntime;
<style>
    .gridOverflow {
        --gridGap: 1px;
        --itemMinWidth: 200px;
        --itemAspectRatio: 1;
        --itemRounding: 6px;
        --linkActionIcon: "\ud83c\udf51";
    }
</style>
<div class="page-intro">
    <h1><strong>B</strong>ooty <strong>D</strong>esign</h1>
</div>

<section>
    <RootPageControls @ref="Page" ReloadRequested="Reload" ButtonPress="OnButtonPress" DefaultButtonHandlers="false"> </RootPageControls>
    <CascadingValue Value="Page">
        <FullscreenImage Title="@Prompt" Image="@image" SrcImage="@Image">
        </FullscreenImage>
    </CascadingValue>

</section>

@code {

    [Parameter, SupplyParameterFromQuery]
    public string? Image { get; set; }
    [Parameter, SupplyParameterFromQuery]
    public string? Prompt { get; set; }

    private string GeneratingText { get; set; } = "";

    private string[]? imageSrc;
    private string? image;

    private IJSObjectReference? _promptModule;
    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        generatorConfig = new GeneratorPromptConfig()
        {
            NumOutputs = Options.NumGeneratedImages
        };
    }

    private GeneratorPromptConfig? generatorConfig;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await Reload();
    }
    private async Task Reload()
    {
        if (IsGenerating) return;
        IsGenerating = true;
        GeneratingText = $"Generating {Prompt}";
        StateHasChanged();
        try
        {
            if (_promptModule != null)
                await _promptModule.DisposeAsync();
            _promptModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "/js/generate.js");
            await JsRuntime.InvokeVoidAsync("generate.configure",
                Options.GradioUri, null);
            imageSrc = await JsRuntime.InvokeAsync<string[]>("generate.generate",
                Image, Prompt, "", generatorConfig);
            if (imageSrc.Length > 0)
                image = imageSrc[0];
        }
        finally
        {
            IsGenerating = false;
            StateHasChanged();
        }
    }
    public bool IsGenerating { get; set; }
    private async Task OnButtonPress(GamepadButton obj)
    {

        if (IsGenerating)
        {
            if (Page != null)
            {
                if (obj == GamepadButton.Start)
                    await Page.ConfirmRestart();
                else if (obj == GamepadButton.Select)
                    await Page.ConfirmRefresh();
            }
            return;
        }
        switch (obj)
        {
            case GamepadButton.Select:
                // ToDo: add save image option
                if(Page != null)
                    await Page.ConfirmRefresh();
                break;
            case GamepadButton.Start:
            case GamepadButton.Primary:
                await ConfirmNext();
                break;
        }


    }

    Random random = new Random();
    private async Task ConfirmNext()
    {
        if (Page == null) return;
        if (imageSrc?.Length > 0)
        {
            var code = random.Next().ToBase64StringNoPadding();
            var dialog = await Page.Confirm.Show($"This image will be displayed next! Would you like to save this image before restarting? You can recover it later with the code {code}.", "Save Image?", "Delete", "Save", timeout: 60);
            var r = await dialog.WaitForResult();
            if (r is ConfirmationResult.Cancel)
            {
                await Client.UploadFile(imageSrc[0],Prompt!,image!,code);
            }
        }
        Navigation.NavigateTo("/input");
    }


    public RootPageControls? Page { get; set; }



}
