@page "/"
@inject NavigationManager Navigation
@implements IAsyncDisposable
<PageTitle>ButtPrompt</PageTitle>


@if (!String.IsNullOrEmpty(controlImage?.Uri))
{
    <label>Input Image:</label>
    <ImageCard Src="@controlImage?.Uri" MaxDimension="768"></ImageCard>
}
<div class="form-group">
    <label>Prompt:
        <input @bind="promptInput" />
    </label>
</div>
<div class="form-group">
    <label>Negative:
        <input @bind="negativePrompt"/>
    </label>
</div>
<button @onclick="Send" >Send</button>

<hr>
@if (!String.IsNullOrEmpty(this.imageUrl))
{
    <img src="@this.imageUrl"/>
    <hr/>
}

@* <span>Socket: @webSocket.State == WebSocketState.Open</span>
 *@
@if (!String.IsNullOrEmpty(message))
{
    <ul id="messagesList">
        <li>@message</li>
    </ul>
}
<Gallery Images="@images"></Gallery>
