@page "/wizard"

<div style="width: 100%; margin: 0 auto;">
    <TelerikWizard @bind-Value="@Page" OnFinish="OnFinished">
        <WizardSteps>
            <WizardStep Label="Butt Selection" OnChange="@OnSelectionChanged">
                <Content>
                    <div>hellp world</div>
                </Content>
            </WizardStep>
        </WizardSteps>

    </TelerikWizard>
</div>
